$output-bourbon-deprecation-warnings: false;
// @import "mq";
@import "bourbon/app/assets/stylesheets/bourbon";
// @import "../../node_modules/rfs/scss";
 
@import "mixin";
@import "fonts";
@import "./public/img/svg/_sprite";
// @import "bootstrap-theme/bootstrap";

// Option B: Include parts of Bootstrap


// @import "1567503006_05d619d046f5cb425a935488c43cf3e3.css";
// @import "swiper.min.css";
@import "vars";
@import "bootstrap-theme/vendor/rfs";
@import "bootstrap-theme/functions"; 
@import "bootstrap-theme/variables";
@import "bootstrap-theme/mixins";


// $theme-colors: map-remove($theme-colors, "info", "light", "dark",'warning');
// @import "bootstrap-theme/root";
@import "bootstrap-theme/reboot";
@import "bootstrap-theme/type";
// @import "bootstrap-theme/images";
// @import "bootstrap-theme/code";
@import "bootstrap-theme/grid";
// @import "bootstrap-theme/tables";
@import "bootstrap-theme/forms";
@import "bootstrap-theme/buttons";
// @import "bootstrap-theme/transitions";
// @import "bootstrap-theme/dropdown";
// @import "bootstrap-theme/button-group";
// @import "bootstrap-theme/input-group";
// @import "bootstrap-theme/custom-forms";
// @import "bootstrap-theme/nav";
// @import "bootstrap-theme/navbar";
// @import "bootstrap-theme/card";
@import "bootstrap-theme/breadcrumb";
.breadcrumb{
  .active{
    a{
      color: $breadcrumb-active-color;
      pointer-events: none;
    }
  }
}
@import "bootstrap-theme/pagination"; 
  .pagination-wrapper ul{
    @extend .pagination;
  }
  .pagination-wrapper li .page-numbers{ 
    @extend .page-link;
  }
  .pagination-wrapper li{ 
    @extend .page-item;
    .current{
      z-index: 1;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border-color; 
    }
  }
// @import "./node_modules/bootstrap/badge";
// @import "./node_modules/bootstrap/jumbotron";
// @import "./node_modules/bootstrap/alert";
// @import "./node_modules/bootstrap/progress";
// @import "./node_modules/bootstrap/media";
// @import "./node_modules/bootstrap/list-group";
// @import "./node_modules/bootstrap/close";
// @import "./node_modules/bootstrap/toasts";
// @import "./node_modules/bootstrap/modal";
// @import "./node_modules/bootstrap/tooltip";
// @import "./node_modules/bootstrap/popover";
// @import "./node_modules/bootstrap/carousel";
// @import "./node_modules/bootstrap/spinners";
@import "bootstrap-theme/utilities";

 
// @import "print";

// @import "../libs/animate";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/fontawesome";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/fa-brands";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/fa-regular";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/fa-solid";
// @import "fontawesome-pro-5.0.8/web-fonts-with-css/fa-light";
// @import "../libs/magnificPopup/magnific-popup.sass";
// @import "../libs/swiper/swiper.min.css";
// @import "../libs/select2-4.0.6-rc.1/dist/css/select2.min";
// @import "../libs/dropzone";
// @import "../libs/gijgo-master/dist/combined/css/gijgo";
// @import "../libs/gijgo-master/dist/combined/css/demo.min";
 
// @import "../libs/ion.rangeSlider/css/ion.rangeSlider.min.css";

@import "base"; 
@import '../pug/blocks/**/*.scss';
@import "media";// Всегда в конце
