mixin s-follow-us()
	// start s-follow-us
	+b.SECTION.s-follow-us.text-center.section#s-follow-us&attributes(attributes)
		.container
			+b.section-title
				h2 Ihrer Phantasie
					|
					span sind keine Grenzen gesetzt!
				
			.row
				+e.bootstrap-col.bootstrap-col-xl-3.bootstrap-col-lg-4
					img.res-i(src="img/@2x/s-follow-us-1.png", alt="")
					h3  Mieten Sie ein Bällebad
					h6 Holen Sie sich den ultimativen Spaß auf Ihren Event
					p Sie planen eine unvergessliche Veranstaltung für Groß und Klein?  Mit unseren Bällebädern gelingt Ihnen das auf jeden Fall. Ob für Kindergeburtstage, Firmenevents oder Messeauftritte, bei Meinbällebad.de finden Sie genau das, wonach sie suchen. Unsere Bällebäder kann man unkompliziert und günstig in allen Größen für Indoor- oder Outdoorevents mieten. Ob Pools, Ballbecken oder ganze Räume voller Bälle: Meinbällebad.de macht ihr Event zum Traum aller Kinder und derer, die sich noch einmal so fühlen wollen. 

					img.res-i(src="img/@2x/s-follow-us-2.png", alt="")
				+e.bootstrap-col.bootstrap-col-xl-3.bootstrap-col-lg-4
					h3  39 verschiedenen  Ballfarben
					h6 Wir bieten Ihnen die größte Farbauswahl Deutschlands!
					p Ob es passend zu Ihrer Firmenfarbe sein soll oder besonders bunt, auch hier überlassen wir Ihnen die freie Wahl. Eines können Sie aber uns überlassen: Die Sorgen um die Gesundheit der Kinder. Denn natürlich sind all unsere Bälle streng geprüft und werden BPA- und schadstofffrei hergestellt. Wir achten in der Produktion darauf, dass die Bälle eine geeignete Größe haben und speichel– und schweißecht sind. Wie auch die restlichen Bestandteile des Bällebads sind die Bälle „Made in Germany“. Es ist uns ein persönliches Anliegen, für unsere Bällebäder nur Materialien zu verwenden, die für Säuglingsartikel geeignet sind. Diese Standards werden durch regelmäßige Produktkontrollen gewährleistet.
						br
						| Unsere Bälle gibt es in drei verschiedenen Größen: 
						br
						| ø 6 cm Durchmesser, 
						br
						| ø 7 cm Durchmesser und 
						br
						| ø 8 cm Durchmesser. 
				+e.bootstrap-col.bootstrap-col-xl-3.bootstrap-col-lg-4
					img.res-i(src="img/@2x/s-follow-us-3.png", alt="")
					h3  Spielen ohne Risiko
					h6 Wir garantieren höchste  Qualität und Sicherheit.
					p In unseren Bällebädern kann man gefahrlos schwimmen, springen oder wühlen. Denn mit unseren zertifizierten, handgefertigten Bällen garantieren wir für höchste Qualität und Sicherheit. Bestätigt wird das auch durch die CE Prüfnummer. Unsere Bälle sind „Made in Germany“ und garantiert BPA- und schadstofffrei. Auch die verwendeten Textilien und Schaumstoffe werden in Deutschland hergestellt und sind nach Oeko-Tex Standard 100 zertifiziert. Es ist uns ein persönliches Anliegen, für unsere Bällebäder nur Materialien zu verwenden, die für Säuglingsartikel geeignet sind. Diese Standards werden durch regelmäßige Produktkontrollen gewährleistet.
					img.res-i(src="img/@2x/s-follow-us-4.png", alt="")
				+e.bootstrap-col.bootstrap-col-xl-3
					h3 Bällebäder nach  Maßanfertigung
					h6 Sie möchten ein 3 Meter Pool? kein Problem!
					p Sie träumen von einem Kindergeburtstag in einem Zimmer voller Bälle, durch das sich Ihre Kinder so richtig durchwühlen und reinspringen können? Kein Problem – wir liefern Ihnen die gewünschte Menge Bälle und holen sie nach Ihrem Event auch wieder ab.  Natürlich können auch einzelne Bällebecken tageweise von uns gemietet werden. Dieses Angebot umfasst kleine Ballpools im Durchmesser von 1,60 m bis hin zu großen Stahlrohrpools mit einem Durchmesser von 4,40 m. Wir helfen Ihnen gerne bei der Suche nach der richtigen Poolgröße für Ihr Event. Profitieren Sie von Deutschlands größter Ballauswahl und stellen Sie Ihr Bällebad mit aktuellen Trendfarben frei aus unserem Sortiment zusammen. Wir haben in unserem Lager mehr als zwei Millionen Bälle, die transportgerecht verpackt werden und sofort geliefert werden können. 

					p Für größere Events bieten wir in Baden-Württemberg einen Aufbauservice an, der Ihnen beim Befüllen von Lagerhallen behilflich ist. Die Lieferung der Bälle erfolgt natürlich pünktlich am Veranstaltungsort und die Bälle kommen farblich sortiert bei Ihnen an.

	// end s-follow-us