mixin s-saving()
	// start s-saving
	+b.s-saving.section#s-saving&attributes(attributes)
		.bootstrap-container
			+e.inner
				+e.title Unser Beitrag für eine bessere Umwelt.
					.strong Save the world 
				+e.row-wrap
					.row
						+e.bootstrap-col.bootstrap-col-lg-6
							.row
								.bootstrap-col-auto
									img.res-i(src="img/@2x/save-1.png", alt="")
								.bootstrap-col
									.title Bälle aus Polyethylen 
									.text 100% recycelbar und frei von Weichmachern
						
						+e.bootstrap-col.bootstrap-col-lg-6
							.row
								.bootstrap-col-auto
									img.res-i(src="img/@2x/save-2.png", alt="")
								.bootstrap-col
									.title Überzug waschbar
									.text besteht aus 100% fein gezwirnter Baumwolle und ist bis zu 30°C waschbar
			.row
				+e.card-col.bootstrap-col-lg-4
					+e.item
						+e.icon-wrap
							img.res-i(src="img/@2x/save-i-1.png", alt="")
						.h2 
							.strong UNSER SERVICE 
							.fw-300 UNSERE LEISTUNGEN
			
				+e.card-col.bootstrap-col-lg-4
					+e.item
						+e.icon-wrap
							img.res-i(src="img/@2x/save-i-2.png", alt="")
						.h2 
							.strong ALLE PRODUKTE  

							.fw-300 REINE HANDARBEIT 
						p Alle Bällebäder sind in Handarbeit hergestellt! Unser Produktionsort im Schwäbischen garantiert sorgsame Verarbeitung!
				+e.card-col.bootstrap-col-lg-4
					+e.item
						+e.icon-wrap
							img.res-i(src="img/@2x/save-i-3.png", alt="")
						.h2 
							.strong UNSER ANSPRUCH:
							.fw-300 HÖCHSTE QUALITÄT
						p Wir haben selber Kinder, darum liegt uns die tadellose Qualität unserer Produkte besonders am Herzen.
	// end s-saving