mixin s-rest()
	// start s-rest
	+b.s-rest.section#s-rest&attributes(attributes)
		.bootstrap-container
			+e.inner
				+e.title Kindergeburtstage, Firmenevents oder Messeauftritte? 
					| 
					strong Bällebäder zum Vermieten 
				+e.btn(href="#") Kontakt Aufnehmen
	// end s-rest