mixin s-imagination()
	// start s-imagination
	+b.SECTION.s-imagination.section#s-imagination&attributes(attributes)
		.bootstrap-container
			+b.section-title.text-center
				h2 s-imagination
				
			.row
	// end s-imagination